/* Add here all your CSS customizations */
.clearfix {
  clear: both;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
section.section-steps {
  padding-top: 0px;
  border: none;
}
.featured-box-full img {
  margin: 0 auto;
}
.home-intro {
  margin-bottom: 0px;
}
